web/node_modules
server/node_modules
*.log
.DS_Store
.git
docs
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
.dockerignore                                                 5,5            All
-- (insert) VISUAL --                                                1.DS_Store
